<form enctype="multipart/form-data" action="/upload" method="post">
    <input type="file" name="file" />
    <button type="submit">Send</button>
</form>

<video id="example-video" controls>
    <source 
        src="https://ik.imagekit.io/qqyj0ycll/test2_hIecjRWZM.mov/ik-master.m3u8?tr=sr-240_360_480_720"
        type="application/x-mpegURL">
    </source>
  </video>

@*<video controls="" autoplay="" name="media"><source src="https://ik.imagekit.io/qqyj0ycll/test2_hIecjRWZM.m3u8"></video>*@
